{% load i18n %}

{% if html_content is not None and html_content != '' %}
<div class='lpx-container'>{{html_content|safe}}</div>
{% else %}
<div class="lpx-container">

    <h2 class="lpx-heading-1">{% trans 'Instructions for submission' %}</h2>

    <p>{% trans "For this part of the project, you will choose a brand or product within the travel industry (airline, hospitality, etc...), and you'll create an SEM campaign for it." %}</p>

    <ul class='lpx-list lpx-list-primary'>
       <li>
            <p>{% trans "Step"  %} 1:</p>
            <ul class='lpx-list lpx-list-secondary'>
                <li><p>{% trans 'State your <strong>campaign objective</strong>' %}</p></li>
            </ul>
       </li> 

       <li>
            <p>{% trans "Step"  %} 2:</p>
            <ul class='lpx-list lpx-list-secondary'>
                <li>
                    <p>{% trans 'Identify 5 Key terms using Google Trends and justify why you selected those specific terms in 2 to 3 sentences. Some things to keep in mind when selecting key terms include:' %}</p>
                </li>
            </ul>
        </li> 

        <li>
            <p>{% trans "Step"  %} 3:</p>
            <ul class='lpx-list lpx-list-secondary'>
                <li>
                    <p>{% trans 'Next, use Google Keyword Planner to create a list of 5 keywords and justify in 2 to 3 sentences why you think these keywords should be in your campaign. The questions to keep in mind now are: Do they have enough search volume?, Do they match your campaign objective?, Is the max CPC reasonable?' %}</p>
                </li>
            </ul>
        </li> 
    </ul>
</div>

<div class="lpx-container">
    <h2 class="lpx-heading-1">{% trans 'Evaluate' %}</h2>

    <ul class='lpx-list lpx-list-primary'>
       <li>
            <p>{% trans "Evaluate the performance of a <a href='#'>Google Search campaign based on the data provided</a>. Consider the following:" %}</p>
            <ul class='lpx-list lpx-list-secondary'>
                <li><p>{% trans "Which ad types perform better?" %}</p></li>
                <li><p>{% trans "Which keywords should be paused?" %}</p></li>
                <li><p>{% trans "Which should receive more budget?" %}</p></li>
            </ul>
       </li> 

       <li>
            <p>{% trans 'Suggest <strong>5 optimizations</strong> to help the campaign perform better and meet the goals. Add your optimization suggestions and the justification for them in the appropriate tab.' %}</p>
        </li> 
    </ul>
</div>
{% endif %}