/* lpx stands for learningprojectxblock */

/* fonts  */
/* font-family: 'Roboto', sans-serif; 500 700*/
/* font-family: 'Roboto Serif', serif; 500 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@400;500&display=swap');


/* variables  */
#lpx {
  --color-primary: #007AE6;
  --color-primary-dark: #025DAE;
  --color-primary-light: #EEF7FF;

  --color-accent-critical: #D82C0D;
  --color-accent-warning: #FFB934;
  --color-accent-success: #5AA447;

  --color-bg-main: #FFFFFF;
  --color-bg-content: #FAFBFB;
  --color-bg-selected: #F1F2F3;

  --color-text-default: #2C3744;
  --color-text-inactive: #7B7B7B;
  --color-text-inverse: #FFFFFF;

  --color-stroke: #D7D7D7;

  --color-disabled: #C5C5C5;

  --border-radius: 6px;
}

/* normalize  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media screen and (min-width: 1440px) {
  * {
    font-size: 21px;
  }
}

#lpx p,
#lpx span,
#lpx strong,
#lpx a,
#lpx h1,
#lpx h2,
#lpx h3,
#lpx h4,
#lpx h5,
#lpx h6,
#lpx label {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--color-text-default);
}

#lpx strong {
  font-weight: 500;
}

#lpx a {
  font-weight: 500;
  color: var(--color-primary);
}


/******************************************************************/
/**************************** COMMON  *****************************/
/******************************************************************/

#lpx .lpx-d-flex {
  display: flex;
}

#lpx .lpx-fw-500 {
  font-weight: 500;
}

#lpx .lpx-mb-1 {
  margin-bottom: .5em;
}

#lpx .lpx-mb-2 {
  margin-bottom: 1em;
}


/**************************** button  *****************************/
#lpx .lpx-btn {
  padding: 0.625em 1.25em !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  display: inline-block;
  border-radius: 4px !important;
  cursor: pointer !important;
  background-image: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  height: 2.375rem;
  display: flex;
  align-items: center;
}

.lpx-btn:hover {
  text-decoration: none !important;
}

/* disabled  */
.lpx-btn.lpx-btn-disabled {
  pointer-events: none !important;
}

/* primary btn  */
.lpx-btn.lpx-btn-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-text-inverse) !important;
  border: none !important;
  text-shadow: none !important;
}

.lpx-btn.lpx-btn-primary:hover {
  background-color: var(--color-primary-dark) !important;
}

.lpx-btn.lpx-btn-primary.lpx-btn-disabled {
  background-color: var(--color-disabled) !important;
}

/* secondary btn  */
.lpx-btn.lpx-btn-secondary {
  background-color: var(--color-bg-main) !important;
  color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
}

.lpx-btn.lpx-btn-secondary:hover {
  background-color: var(--color-primary-light) !important;
  color: var(--color-primary-dark) !important;
  border: solid 2px var(--color-primary-dark) !important;
}

.lpx-btn.lpx-btn-secondary.lpx-btn-disabled {
  background-color: var(--color-bg-main) !important;
  color: var(--color-disabled) !important;
  border: solid 2px var(--color-disabled) !important;
}

/* text btn  */
.lpx-btn.lpx-btn-secondary.lpx-textbtn {
  border: none !important;
}

/* size  */
#lpx .lpx-btn.lpx-btn-xl {
  padding: 0.875em 1.5em !important;
  font-size: 1em;
}

#lpx .lpx-btn.lpx-btn-lg {
  padding: 0.75em 1.25em !important;
  font-size: 1em;
}

/* default size */
#lpx .lpx-btn.lpx-btn-md {
  padding: 0.625em 1.25em !important;
  font-size: 1em;
}

#lpx .lpx-btn.lpx-btn-sm {
  padding: 0.5em 0.75em !important;
  font-size: 0.875em;
}

#lpx .lpx-btn.lpx-btn-xs {
  padding: 0.5em 0.75em !important;
  font-size: 0.75em;
}

/**************************** title and header *****************************/
#lpx .lpx-title {
  font-size: 2em;
  font-weight: 500;
  font-family: 'Roboto Serif', serif;
}

#lpx .lpx-heading-1,
#lpx h2 {
  font-size: 1.5em;
  font-weight: 500;
}

#lpx .lpx-heading-2,
#lpx h3 {
  font-size: 1.2em;
  font-weight: 500;
}

#lpx .lpx-heading-3,
#lpx h4 {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

/* is also the default p tag */
#lpx .lpx-paragraph-1,
#lpx p {
  font-size: 1em;
  margin: 0 0 .5em 0;
}

#lpx .lpx-paragraph-2 {
  font-size: 0.875em;
}

#lpx .lpx-paragraph-3 {
  font-size: 0.75em;
}

#lpx .lpx-tag {
  font-size: 0.6875em;
  font-weight: normal;
}

#lpx .lpx-link,
#lpx a {
  text-decoration: underline;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-primary);
  cursor: pointer;
}

/**************************** container *****************************/
.lpx-container {
  padding: 0 0 2em 0;
}

.lpx-container .lpx-heading-1,
.lpx-container>p {
  margin-bottom: .5em;
}

/**************************** list *****************************/
#lpx ul {
  padding: 0 0 0 .5em;
  margin: 0 0 0 1.5em;
}

#lpx ul>li,
#lpx ul>li {
  margin-bottom: 0.375em;
}

#lpx ul>li:last-of-type,
#lpx ul>li:last-of-type {
  margin-bottom: 0;
}

#lpx ul>li>ul>li:first-of-type {
  margin-top: 0.375em;
}

#lpx ul {
  list-style-type: disc !important;
}

#lpx ul>li>ul {
  list-style-type: circle !important;
}



/**************************** util classes *****************************/
#lpx .d-none {
  display: none !important;
}

#learningprojectxblock {}

/**************************** submit_project *****************************/
#file-upload-preview {
  background: #f6f6f7;
  padding: .75em;
  border-radius: var(--border-radius);
  margin-bottom: 0.5em;
}

#file-upload-preview-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .25em;
}

#file-upload-preview-inner>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.781em;
}

#lpx #uploading-file {
  font-size: 0.75em;
  color: #576f8a;
  margin-bottom: 0;
}

#remove-file-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#remove-file-btn svg {
  width: 1.5em;
}

#file-error-message {
  color: var(--color-accent-critical);
  display: flex;
  align-items: center;
  gap: 0.673em;
}

#file-error-message svg {
  width: 1.186em;
}

#file-error-message span {
  font-size: 0.75em;
  color: var(--color-accent-critical);
}

#submission-note {
  height: 6.938em;
  padding: 0.75em;
  border-radius: 8px;
  border: solid 1px var(--color-stroke);
  background-color: #fff;
  width: 100%;
  font-size: 0.875em;
  font-family: Roboto;
}

#submission-note:focus {
  outline: none !important;
  box-shadow: none !important;
}

#terms ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

#terms .term-item label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0.5em 0.75em;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-stroke);
  background-color: var(--color-bg-content);
  position: relative;
}

#terms .term-item input {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  background: transparent;

}

#terms .term-item svg {
  flex-shrink: 0;
  width: 1.5em;
}

#terms .term-item:not(.checked) svg:last-of-type {
  display: none;
}

#terms .term-item.checked label {
  background-color: rgba(0, 134, 255, 0.08);
  background-color: rgba(0, 134, 255, 0.08);
  border: solid 1px rgba(0, 134, 255, 0.08);
}

#terms .term-item.checked svg:first-of-type {
  display: none;
}

#terms ul li p {
  margin: 0;
}

#lpx #submit-error-message {
  color: var(--color-accent-critical);
}

#lpx #cancel_submission_btn {
  cursor: pointer;
  font-size: .875em;
}

/**************************** submission_status *****************************/
#lpx #submission-status-date {
  margin-bottom: .5em;
}

#submission-status-bar {
  padding: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: var(--border-radius);
  background-color: #fef5f3;
  margin-bottom: 1em;
  font-size: 0.875em;
}

#submission-status-bar-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

#submission-status-bar.not_graded {
  background-color: #f3f9ff;
}

#submission-status-bar.passed {
  background-color: #f8fcf7;
}

#submission-status-bar.has_not_submitted {
  background-color: #fff4df;
}

#lpx #see-results-btn {
  font-size: 0.875em;
  cursor: pointer;
}

/**************************** submission_response *****************************/
#submission-results {
  padding-top: 2em;
}

.criterion-header-angle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reviewer-note-content {
  padding: 1.5em;
  border-radius: var(--border-radius);
  background-color: #f6f6f7;
}

#submission-response-tabs {
  margin-bottom: 1em;
}

.submission-response-tab {
  flex-grow: 0;
  font-weight: 500;
  color: var(--color-primary);
  padding: 0.5em 0;
  border-bottom: 2px solid var(--color-primary);
  display: inline-block;
}

#need_to_fix {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0.75em;
  border-radius: var(--border-radius);
  background-color: #fff4df;
  margin-bottom: 1em;
}

#need_to_fix svg {
  width: 1.25em;
}

#need_to_fix span {
  font-weight: 500;
}

#lpx #criteria-groups {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#lpx #criteria-groups li.criteria-group {
  margin: 0 0 1em 0;
}

#lpx ul.criteria-responses {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0;
  border: 1px solid #cfdbe8;
  border-radius: var(--border-radius);
  overflow: hidden;
}

#lpx .criteria-responses li.criterion {
  margin: 0;
}

.criterion-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
  border-top: 1px solid #cfdbe8;
}

li.criterion:first-of-type .criterion-header {
  border-top: none;
}

.criterion-header::after {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -1px;
  left: 0;
  right: 0;
  background: #cfdbe8;
}

.criterion-header-title {
  display: flex;
  align-items: center;
  gap: 0.875em;
}

.criterion-header-title svg {
  width: 1.25em;
  flex-shrink: 0;
}

.criterion-header-angle svg {
  width: 1.5em;
  margin-left: 0.75em;
  transform: rotate(90deg);
  transition: 0.2s;
}

.criterion-header.collapsed .criterion-header-angle svg {
  transform: rotate(0);
}

/* criteria responses old need to replace */
.criterion-feedback {
  overflow: hidden;
  transition: 0.2s;
}

.criterion-feedback-inner {
  padding: 1.5em;
}

.criterion-feedback-inner .feedback-content {
  border-radius: 6px;
  margin-bottom: 1em;
}

/* submission_history  */
#lpx #submission-history-label {
  font-size: 0.875em;
  color: #576f8a;
}

/* submission_history  */
/* max heigh của options ~ 9em => cho padding bottom 10em để chừa chỗ trống cho options show  */
#submission-history-container {
  padding: 0 0 2em 0;

}



#submission_history {
  width: 21.875em;
  position: relative;
  transition: .2s;

}

#submission_history-select {
  display: flex;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-stroke);
  padding: 1px;
  position: relative;
}

#submission_history-select.is--focus {
  border: 2px solid var(--color-primary);
}

#submission_history-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 0.875em !important;
}

#submission_history-input::placeholder,
#submission_history-input::-ms-input-placeholder {
  color: #8097b1;
}

#submission_history-svg-container {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submission_history-svg-container svg {
  width: 1.5em;
  transform: rotate(-90deg);
  transition: 0.2s;
}

#submission_history-select.is--focus #submission_history-svg-container svg {
  transform: rotate(0);
}

#history-options-container {
  margin-top: 0.375em;
  padding: .2em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  position: relative;
  background: white;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: history_animation .3s; */
}

@keyframes history_animation_open {
  from {
    max-height: 0;
  }

  to {
    max-height: 200px;
  }
}

@keyframes history_animation_close {
  0% {
    max-height: 200px;
    padding: .2em;
  }

  100% {
    max-height: 0;
    padding: 0 .2em;
  }
}

#history-options-container.overflow::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  right: .775em;
  width: 1px;
  background: #e8e8e8;
}

#lpx #submission_history-options {
  list-style-type: none;
  margin: 0 !important;
  overflow: hidden;
  background: white;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: calc(100% + 0.375em);
  max-height: 9.438em;
  padding: 0;
  /* border-radius: var(--border-radius); */
  /* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.2); */
  overflow-y: auto;
}

#lpx #history-options-container.overflow #submission_history-options {
  padding: 0 .2em 0 0;
}

/* scroll bar  */
#lpx #submission_history-options::-webkit-scrollbar {
  width: .375em;
}


#lpx #submission_history-options::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 100px;
}

#submission_history-options li.submission_history-option {
  cursor: pointer;
  margin: 0 !important;
  padding: 0.75em 1em;
  background-color: #fff;
  font-size: 0.875em;
  font-family: 'Roboto', sans-serif;
}

#submission_history-options li.submission_history-option:hover {
  background-color: rgba(0, 134, 255, 0.05)
}

#submission_history-options li.submission_history-option.is-current-submission {
  font-weight: 500;
  color: var(--color-primary);
}

/* confirm submit  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#confirm-submit-prompt {
  border: 1px solid #000;
  background: white;
  padding: 1.5em;
  width: 43.75em;
  border-radius: var(--border-radius);
}

#confirm-submit-text {
  padding: 0px;
  margin: 0 0 1.5em 0;
}

#confirm-submit-btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.625em;
}

/* error message  */
.error-message {
  padding: 1em;
  color: var(--color-accent-critical) !important;
  font-size: 1em;
  background: rgba(216, 44, 13, 0.05);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: .5em;
}

/* loading modal  */
#loading-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.753);
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.lpx_editor_buttons.modal-actions {
  background: rgb(229, 229, 229);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.modal-content.lpx-modal-content {
  position: static !important;
}

#lpx #common-message {
  padding: .25em .5em;
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: .75em;
  font-family: 'Roboto', sans-serif;
  border-radius: var(--border-radius);
}

#lpx #common-message.success {
  background: #f2ffee;
}

#lpx #common-message.success span {
  color: var(--color-accent-success);
}

#lpx #common-message.success svg:first-of-type {
  display: none;
}

#lpx #common-message.error {
  background: rgba(216, 44, 13, 0.05);
}

#lpx #common-message.error span {
  color: var(--color-accent-critical);
}

#lpx #common-message.error svg:last-of-type {
  display: none;
}

/* these css are copied from portal, need to tidy  */
#lpx .odoo_criterion img {
  width: 100%;
  border: 2px solid #D82C0D;
  display: block;
  margin: 1em 0 0 0;
}

#lpx .odoo_criterion.passed img {
  border: 2px solid #5AA447;
}

#lpx .odoo_criterion.passed {
  background: rgba(90, 164, 71, 0.05);
}


#lpx .odoo_criterion.passed {
  background: rgba(90, 164, 71, 0.05);
}

#lpx .odoo_criterion.did_not_pass {
  background: rgba(216, 44, 13, 0.05);
}

#lpx .preview_criterion_error_message {
  text-align: center;
  color: #D82C0D;
}

#lpx .preview_criterion_feedback a {
  font-weight: 500;
  color: #0086ff;
}

#lpx .pointer_events_none {
  pointer-events: none;
}

#lpx ul.odoo_criteria {
  padding: 0;
  margin: 0 0 1em 0;
  list-style-type: none !important;
}

#lpx ul.odoo_criteria.incomplete {
  list-style-type: disc !important;
  padding-left: 1em !important;
}

#lpx .odoo_criteria>li {
  padding: 1em;
  border-radius: 6px;
  margin-bottom: 1em;
}

#lpx .odoo_criteria.incomplete>li {
  padding: 0;
}

#lpx .odoo_criterion_general_response {
  margin-bottom: 1em;
}