{% load i18n %}

<div id='lpx'>
  <div id="learningprojectxblock"></div>

  <span
    style="display: none"
    id="portal-data"
    data-get-initial-url="{{PORTAL_GET_SUBMISSION_URL}}"
    data-email="{{email}}"
    data-course-id="{{course_id}}"
    data-assignment-name="{{assignment_name}}"
    data-portal-submit-url="{{PORTAL_SUBMIT_URL}}"
    data-portal-cancel-submission-url="{{PORTAL_CANCEL_SUBMISSION_URL}}"
    data-allowed-file-types="{{allowed_file_types}}"
    data-max-file-size="{{max_file_size}}"
    data-download-url="{{download_url}}"
    data-submission-note="{{submission_note}}"
    data-file-url="{{file_url}}"
    data-file-name="{{file_name}}"
    data-portal-host="{{PORTAL_HOST}}"
    data-unit-usage-id="{{unit_usage_id}}"
  ></span>

  <div id="loading-modal" class='d-none'>
    <span class="loader"></span>
  </div>
</div>

<script type="text/javascript" src="{% url 'assignmentxblock-xblock' %}"></script>
