{% load i18n %}

{% if not submission %}
{% include "components/submit_project.html" %}
{% endif %}

{% if submission %}
    {% include "components/submission_status.html" %}

    {% if submission.result == 'did_not_pass' or submission.result == 'unable_to_review'%}
        {% if not should_show_resubmit %}
            <button id="resubmit-btn" class="lpx-btn lpx-btn-secondary">{% trans "Resubmit" %}</button>
        {% endif %}

        <div id="resubmit-container" class="{% if not should_show_resubmit %}d-none{% endif %}">
            {% include "components/submit_project.html" %}
        </div>
    {% endif %}
{% endif %}

{% include "components/common_message.html" %}


